/* Typography */

html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

.icons-social i {
  font-size: 3em;
}


/* Custom Styles */

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 5px 5px;
  text-align: center;
  text-shadow: 2px 2px 5px #0277BD;
}

main>.intro {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 3.50em;
  font-weight: 600;
  text-shadow: 2px 2px 5px #0277BD;
}

main>.tagline {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 100;
  text-shadow: 2px 2px 5px #0277BD;
}

.icons-social i {
  padding: 10px;
}

.devto {
  margin-bottom: -0.20rem;
}

.devto svg {
  margin-bottom: -0.20rem;
  margin-left: 0.675rem;
  ;
  width: 2.65rem;
  height: 2.65rem;
}


/* Profile Picture */

img {
  border-radius: 50%;
  padding: 5px;
  align-self: center;
}


/*Buttons*/

.button {
  background-color: white;
  border: 4px solid #008CBA;
  border-radius: 12px;
  color: #0277BD;
  padding: 10px 15px;
  text-align: center;
  text-shadow: 2px 2px 5px #0277BD;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link {
  display: inline-block;
  padding: 10px 0;
  margin: 5px 15px;
  position: relative;
  text-decoration: none;
  color: #0277BD;
  font-weight: 800;
  font-size: 24px;
}
